<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary container">
  <div class="navbar-brand">
    <a href="https://umdphysics.umd.edu">
      <img src="/assets/images/umd_logo.png" alt="UMD logo" height="55">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavItems">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavItems">
    <div class="navbar-nav mr-auto">
      {% assign links = site.navigation %}
      {% for link in links %}
        {% if link.url == '/index.html' and page.url == '/' %}
          <a class="nav-item nav-link active font-weight-bold" href="{{ link.url }}">{{ link.title }}<span class="sr-only">(current)</span></a>
        {% elsif page.url contains link.url %}
          <a class="nav-item nav-link active font-weight-bold" href="{{ link.url }}">{{ link.title }}<span class="sr-only">(current)</span></a>
        {% else %}
          <a class="nav-item nav-link font-weight-bold {{ class }}" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="navbar-brand mr-0">
      <a href="https://lhcb-public.web.cern.ch/lhcb-public/">
        <img src="/assets/images/lhcb_logo.png" alt="LHCb logo" height="55">
      </a>
    </div>
  </div>
</nav>
