<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary container">
  <div class="navbar-brand">
    <a href="https://umdphysics.umd.edu">
      <img src="/assets/images/UMD_globe_transparent.png" alt="UMD logo" height="60"
	   style="padding-right:10px" /></a>
    <a href="https://lhcb.web.cern.ch/lhcb">
      <img src="/assets/images/LHCb_logo.jpg" alt="LHCb logo" height="56"
	   style="padding-right:10px" /></a>	    
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavItems">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavItems">
    <div class="navbar-nav mr-auto">
      {% assign links = site.navigation %}
      {% for link in links %}
        {% if link.url == '/index.html' and page.url == '/' %}
          <a class="nav-item nav-link active" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}<span class="sr-only">(current)</span></a>
        {% elsif page.url contains link.url %}
          <a class="nav-item nav-link active" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}<span class="sr-only">(current)</span></a>
        {% else %}
          <a class="nav-item nav-link {{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
