// Addtional padding for text
.textbox {
    padding: 2em;
}

// Use a stretched image as title background
.section-title {
    text-align: center;
    font-size: 32pt;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background: linear-gradient(rgba(31,31,31,1), rgba(31,31,31,.3)), url("/assets/images/title_bg.png");
}


// reduce font size for headers
h1 {
    font-size: 22pt;
    margin: 10px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 18pt;
}


// Image width
//.img-fluid {
    //max-width: 90%;
//}


// Transition on all urls
a {
    color: #8f0000;
    opacity: 1;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

a:hover {
    color: #8f0000;
    opacity: .7;
}
