// Addtional padding for text
.textbox {
    padding: 2em;
}

// Use a stretched image as title background
.section-title {
    text-align: center;
    //vertical-align: middle;
    font-size: 32pt;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    //background: linear-gradient(rgba(147,0,0,1), rgba(147,0,0,.3)), url("/assets/images/title_bg.png");
    background: linear-gradient(rgba(31,31,31,1), rgba(31,31,31,.3)), url("/assets/images/title_bg.png");
    //background: linear-gradient(rgba(28,28,28,1), rgba(28,28,28,.3)), url("/assets/images/title_bg.png");
}


// reduce font size for headers
h1 {
    font-size: 22pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 18pt;
}


// Image width
//.img-fluid {
    //max-width: 90%;
//}


// Transition on all urls
a {
    opacity: 1;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

a:hover {
    opacity: .7;
}


// Custom url class color
.url-in-grid {
    color: #8f0000;
}

.url-in-grid:hover {
    color: #8f0000;
}
