---
title: UMD group links
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include header.html %}

  <body>
    {% include navbar.html %}
    {% include title.html title=page.title %}

    <div class="container">
      <div class="bg-light">
        <section id="main_content" class="p-4">

          Links marked as (protected) may require logging in to your Github or CERN LHCb account.
          <br><br>

          <!-- Links by type -->
          {% assign types = site.data.links | map: "type" | uniq %}
          {% for type in types %}
            <hr>
            <h1>{{ type }}</h1>
            <div class="row">
            {% assign linksets = site.data.links | where: "type", type %}
            {% for linkset in linksets %}
              <div class="col-12 col-md-4 mb-4">
                <div class="row">
                  <div class="col-12">
                   <div class="font-weight-bold">{{ linkset.title }}</div>
                  </div>
                  <ul>
                  {% for link in linkset.links %}
                    <div class="col-12">
                      <li> <a href="{{ link.url }}" class="font-weight-normal">{{ link.title }}</a>
                      {% if link.protected %}
                      (protected)
                      {% endif %}
                      </li>
                    </div>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
        </section>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
