---
title: People
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include header.html %}

  <body>
    {% include navbar.html %}
    {% include title.html title=page.title %}

    <div class="container">
      <div class="bg-light">
        <section id="main_content" class="p-4">
          {% for section in site.data.people %}
            <h1>{{ section.section }}</h1>
            <hr>
            <div class="row">
            {% for person in section.members %}
              <div class="col-12 col-md-4 mb-4">
              {% if person.name %}  <!-- This is needed to have placeholder entries -->
                <div class="row">
                  <div class="col-12">
                    <div class="font-weight-bold">{{ person.name }}</div>
                  </div>
                  <div class="col-12">
                    <div class="font-weight-normal">{{ person.title }}</div>
                  </div>
                  {% if person.email %}
                  <div class="col-12">
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                  </div>
                  {% endif %}
                  {% if person.address %}
                  <div class="col-12">
                    <div class="font-weight-normal text-secondary">{{ person.address }}</div>
                  </div>
                  {% endif %}
                  {% if person.website %}
                  <div class="col-12">
                    <a href="{{ person.website }}" title="Personal website of {{ person.name }}">Website</a>
                  </div>
                  {% endif %}
                </div>
              {% endif %}
              </div>
            {% endfor %}
            </div>
            {% if section.photos %}
              <div class="row">
                {% if section.photos.size > 1 %}
                  {% for fig in section.photos %}
                    <div class="col-12 col-md-6 mb-6">
                      <div class="row">
                        <div class="col-12">
                          {% include figure.html file=fig.file alt="Photo" caption=fig.caption %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  {% for fig in section.photos %}
                    <div class="col-12 col-auto">
                      <div class="row">
                        <div class="col-12">
                          {% include figure.html file=fig.file alt="Photo" caption=fig.caption %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </section>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
