---
title: Talks
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include header.html %}

  <body>
    {% include navbar.html %}
    {% include title.html title=page.title %}

    <div class="container">
      <div class="bg-light">
        <section id="main_content" class="p-4">
          <!-- Automatically generate recent talks -->
          <h1>Recent talks</h1>
          <hr>
          <div class="row">
          {% assign all_talks_sorted = site.data.talks | sort: "date" | reverse | slice: 0, 9 %}
          {% for talk in all_talks_sorted %}
            <div class="col-12 col-md-4 mb-4">
              <div class="row">
                <div class="col-12">
                  <a href="{{ talk.url }}" class="font-weight-bold">{{ talk.title }}</a>
                </div>
                <div class="col-12">
                  <div class="font-weight-bold">{{ talk.author }}</div>
                </div>
                {% if talk.note %}
                <div class="col-12">
                  <div class="font-weight-normal">{{ talk.note }}</div>
                </div>
                {% endif %}
                {% if talk.meeting %}
                <div class="col-12">
                  <div class="font-weight-normal">{{ talk.meeting }}</div>
                </div>
                {% endif %}
                {% if talk.location %}
                <div class="col-12">
                  <div class="font-weight-normal text-secondary">{{ talk.location }}</div>
                </div>
                {% endif %}
                <div class="col-12">
                  <div class="font-weight-normal text-secondary">{{ talk.date | date: "%B %-d, %Y" }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>

          <h1>All talks sorted by author</h1>
          <hr>
          <!-- Talks by author -->
          {% assign authors = site.data.talks | map: "author" | uniq %}
          {% for author in authors %}
            <h3>{{ author }}</h3>
            <div class="row">
            {% assign author_talks_sorted = site.data.talks | where: "author", author | sort: "date" | reverse %}
            {% for talk in author_talks_sorted %}
              <div class="col-12 col-md-4 mb-4">
                <div class="row">
                  <div class="col-12">
                    <a href="{{ talk.url }}" class="font-weight-bold">{{ talk.title }}</a>
                  </div>
                  {% if talk.note %}
                  <div class="col-12">
                    <div class="font-weight-normal">{{ talk.note }}</div>
                  </div>
                  {% endif %}
                  {% if talk.meeting %}
                  <div class="col-12">
                    <div class="font-weight-normal">{{ talk.meeting }}</div>
                  </div>
                  {% endif %}
                  {% if talk.location %}
                  <div class="col-12">
                    <div class="font-weight-normal text-secondary">{{ talk.location }}</div>
                  </div>
                  {% endif %}
                  <div class="col-12">
                    <div class="font-weight-normal text-secondary">{{ talk.date | date: "%B %-d, %Y" }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
        </section>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
