<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/png", href="/assets/images/favicon.png">
    <title>{{ site.title }}</title>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary container">
      <a class="navbar-brand" href="https://umdphysics.umd.edu">
        <img src="/assets/images/physics_logo_final_white.png" height="50" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Papers</a>
          <a class="nav-item nav-link" href="projects.html">Projects</a>
          <a class="nav-item nav-link" href="#">People</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="section-title">
        {{ page.title }}
      </div>
    </div>

    <div class="container">
      <div class="textbox bg-light">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>

  </body>
</html>
